<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
</head>
<body>

   <header>
      <nav>
         <ul>
            <li>Pagina1</li>
            <li>Pagina2</li>
            <li>Pagina3</li>
            <li>Pagina4</li>
            <li>Pagina5</li>
         </ul>
      </nav>
   </header>

 <h1>Sono la View per l action Index del HomeController</h1>

 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat alias quisquam sit accusantium officia reiciendis numquam recusandae aliquam voluptatibus, animi consequatur odit earum laboriosam illum ipsa! Facere, quae vel.</p>
 <p>Eum voluptates qui possimus amet itaque velit dolorem asperiores cupiditate, atque ut ab tenetur vitae iure labore blanditiis ullam! Dolor nulla deserunt eos nisi ad mollitia tempore hic ipsam amet!</p>
 <p>Fuga veniam fugit libero possimus quo quas laudantium minima iste harum quod atque perspiciatis ducimus aliquid dicta, enim ipsum, itaque cupiditate, quasi aspernatur architecto quaerat optio dolor quia? Ut, eaque!</p>
 <p>Adipisci, iure reiciendis. Nesciunt, reprehenderit consequuntur sint nisi repellendus aspernatur expedita accusantium? Aliquid a perspiciatis molestias officia odio esse, eius ipsa eos quidem officiis illum dolores cupiditate porro cumque recusandae?</p>
 <p>Laboriosam autem vero esse eos veritatis temporibus aliquid maxime! Fugiat sunt molestiae provident libero excepturi, ut labore quam, sint reiciendis voluptate nisi? Natus quia repudiandae sequi adipisci iste quis ut.</p>

 <footer>
    <p>Contattaci al numero</p>
 </footer>
 
</body>
</html>

